/* Light */
:root {
    --mode:light;
    --accent:black; /* used for input element focus in some browsers */
    --border:#CCCCCC; /* border around elements/posts */
    --bg-odd:#DDDDDD; /* background for odd rows */
    --bg-even:#EEEEEE; /* background for even rows */
    --text:#555555; /* general text colour */
    --msg-text:black; /* user's message text colour */
}

/* Dark */
@media (prefers-color-scheme: dark) {
    :root {
        --mode:dark;
        --accent:white; /* used for input element focus in some browsers */
        --border:#222222; /* border around elements/posts */
        --bg-odd:#444444; /* background for odd rows */
        --bg-even:#555555; /* background for even rows */
        --text:#DDDDDD; /* general text colour */
        --msg-text:white; /* user's message text colour */
    }
}

html, body {color-scheme: var(--mode); background:transparent; accent-color:var(--accent); margin:0; font-family:system-ui, sans-serif; scrollbar-width:thin;}

a:not(:hover) {text-decoration:none;}

.box {border:1px solid var(--border); background-color:var(--bg-odd); padding:6px; font-size:12px; color:var(--text); display:block; overflow:hidden;}

.post + .post {border-top:0px;}
.post:nth-child(even) {background-color:var(--bg-even);}

.postform {display:flex;}
.postform input {font-size:13px; padding:4px 4px;}
.postform #name {margin-right:5px;}
.postform #body {flex-grow:1; margin-right:5px;}
.postform input[type="submit"] {font-weight:bold; padding-left:12px; padding-right:12px;}

.post .author {font-weight:bold;}
.post .time {float:right; font-style:italic;}
.post .body {display:block; color:var(--msg-text); margin-top:5px; overflow:hidden; word-break:break-word; font-size:13px;}

@media (max-width:369px) {
    .postform {flex-wrap:wrap;}
    .postform #name {flex-grow:1; width:1%;}
    .postform #body {width:100%; order:3; margin-right:0; margin-top:5px;}
}
