<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Momiji</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="title" content="Momiji">
		<meta name="description" content="A free and simple embedded message box">
		<link rel="stylesheet" type="text/css" href="/data/static/main.css">
	</head>
	<body>
		<div class="box"><a href="https://github.com/patapancakes/momiji" target="_blank">Momiji</a><a style="float: right" href="https://github.com/patapancakes/momiji" target="_blank">Add to your page</a></div>
		{{template "postform" .}}
		{{range .Posts}}{{template "post" .}}{{end}}
	</body>
</html>
